<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Breached Creds</title>
        <style>
            h1{
                text-align: center;
            }
            form{
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div>
            <h1>Enter Current Credentials</h1>
        </div>
        <div >
            <form id="credsForm" action = "{{url_for("gfg")}}" method="post">
                <label for = "email">Email:</label><br>
                <input type = "text" id = "email" name = "email"><br>
                <label for = "password">Password:</label><br>
                <input type = "text" id = "password" name = "password"><br>
                <button type = "submit">Submit</button>
            </form>
        </div>
        <div>
            <p>Disclaimer: Credentials entered are not saved by this website. 
                They are only checked agains previously breached credentials which have been encrypted for security.
            </p>
        </div>
    </body>
</html>